.App {
  background: white;
}

.App header {
  color: #b4a5a5;
  padding: 20px;
  text-align: center;
  font-size: 95px;
}

.App footer {
  text-align: center;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  color: black;
}
